body {
    background-image: url("../images/giftly.png");
    font-size        : 25px;
    letter-spacing   : 0.015em;
    line-height      : 1.6em;
}

#welcome-title {
    font-weight: 200;
}

/* =============================================================================
Seperators
============================================================================= */
.profile-separator-1 {
    height: 0.4em;
}

.profile-separator-2 {
    height: 1.2em;
}

.profile-separator-3 {
    height: 2em;
}
